<h1>Bienvenue sur portlamontagne.fr !</h1>

<p>
    Si tu souhaites accéder à toutes les fonctionalités du site il faut confirmer ton email : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon email</a>.
   Attention, ce lien expire dans {{ expiresAt|date('g') }} heures.
</p>

<p>
    A bientôt !
</p>
