<form method="post" action="{{ path('market_product_delete', {'id': market_product.id}) }}" onsubmit="return confirm('Souhaitez-vous supprimer votre annonce?');">
    <input type="hidden" name="_method" value="Supprimer">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ market_product.id) }}">
    <button class="btn">Supprimer</button>
</form>
