{% extends 'base.html.twig' %}

{% block title %}{{ market_product.title }} Modification | Market {% endblock %}

{% block body %}
    <h1>Modifier le produit</h1>

    {{ include('market_product/_form.html.twig', {'button_label': 'Mise à jour'}) }}

    {{ include('market_product/_delete_form.html.twig') }}
{% endblock %}
