{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}{% endblock %}

{% block body %}
    <section class="page-header b-bordered">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="title">Mon tableau de bord</h1>
                </div>
            </div>
        </div>
    </section>
    <div class="page-inner no-border">
        <div class="container">
            <div class="row">
                <div class="col-md-3 left-side-sidebar pr-none">
                    <div class="docs-navigation">
                        <ul class="nav nav-list nav-shortcodes">
                            <li class="active">
                                <label class="tree-toggler nav-header">Tableau de bord</label>
                                <ul class="nav nav-list tree">
                                    <li><a href="{{ path('user_dashboard') }}"><i class="fa fa-dashboard"></i>Tableau de bord</a></li>
                                </ul>
                            </li>
                            <li class="active">
                                <label class="tree-toggler nav-header">Mon compte</label>
                                <ul class="nav nav-list tree">
                                    <li><a href="{{ path('user_personal_information') }}"><i class="fa fa-user"></i>Mes informations</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                {% block bodyApp %}

                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}