{% extends 'base.html.twig' %}

{% block title %}Edit ClimbingGroup{% endblock %}

{% block body %}
    <h1>Edit ClimbingGroup</h1>

    {{ include('climbing_group/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('climbing_group_index') }}">back to list</a>

    {{ include('climbing_group/_delete_form.html.twig') }}
{% endblock %}
