{% extends 'base.html.twig' %}

{% block title %}New Area{% endblock %}

{% block body %}
    <h1>Create new Area</h1>

    {{ include('area/_form.html.twig') }}

    <a href="{{ path('area_index') }}">back to list</a>
{% endblock %}
