<h1>portlamontagne.fr !</h1>

<p>
    Salut !
</p>
<p>
    Ton article {{ market_product.title }} a été ajouté sur le Market !
</p>

<p>
    Les potentiels acheteurs prendrons contact avec toi directement par email. Une fois ton article vendu, tu peux le marquer comme "vendu". <br>
    Si tu rencontres des problèmes n'hésites pas à prendre contact avec Florian ou Paul de l'équipe Portlamontagne. Tu as un bouton de contact au bas du site !
</p>
<p>
    Portlamontagne décline toutes responsabilités concernant la vente de matériel type EPI (Baudrier, mousquetons...) ou tout matériel lié de près ou de loin à la sécurité du grimpeur.
</p>
<p>
    Pour rappel, le market est en beta. Des bugs sont susceptible d'être présents. Pour l'amélioration du module, n'hésites pas à nous les remonter !
</p>
<p>
    A bientôt !
</p>
